apiVersion: v1
kind: ConfigMap
metadata:
  name: gkm-galaxy-job-rules
  namespace: gkmns
  labels:
    app.kubernetes.io/instance: gkm-galaxy
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: galaxy
    app.kubernetes.io/version: '23.0'
    helm.sh/chart: galaxy-5.7.1-anvil.2
  annotations:
    meta.helm.sh/release-name: gkm-galaxy
    meta.helm.sh/release-namespace: gkmns
data:
  tpv_rules_local.yml: |
    destinations:
      k8s:
        params:
          docker_enabled: "true"
          limits_cpu: '{{cores}}'
          limits_memory: '{{mem}}Gi'
          requests_cpu: '{{cores}}'
          requests_memory: '{{mem}}Gi'
        runner: k8s
        scheduling:
          accept:
          - docker
      local:
        runner: local
        scheduling:
          require:
          - local
    global:
      default_inherits: default
    tools:
      Grouping1:
        params:
          docker_container_id_override: 'quay.io/galaxyproject/galaxy-anvil:23.0-auto'
      Summary_Statistics1:
        params:
          docker_container_id_override: cloudve/gsummary:latest
      default:
        params:
          container_monitor: false
          docker_default_container_id: 'quay.io/galaxyproject/galaxy-anvil:23.0-auto'
          tmp_dir: "true"
        rules:
        - id: force_default_container_for_built_in_tools
          if: |
            from galaxy.tools import GALAXY_LIB_TOOLS_UNVERSIONED
            tool.id in GALAXY_LIB_TOOLS_UNVERSIONED or "CONVERTER_" == tool.id[:10] or tool.is_datatype_converter
          params:
            docker_container_id_override: 'quay.io/galaxyproject/galaxy-anvil:23.0-auto'
        scheduling:
          reject:
          - local
          - offline
      sort1:
        params:
          docker_container_id_override: 'quay.io/galaxyproject/galaxy-anvil:23.0-auto'
      toolshed.g2.bx.psu.edu/repos/crs4/prokka/prokka/1.14.5:
        params:
          docker_container_id_override: cloudve/prokka:1.14.5
      toolshed.g2.bx.psu.edu/repos/devteam/data_manager_bwa_mem_index_builder/bwa_mem_index_builder_data_manager/.*:
        params:
          docker_container_id_override: cloudve/bwa-dm:latest
      toolshed.g2.bx.psu.edu/repos/devteam/data_manager_sam_fasta_index_builder/sam_fasta_index_builder/.*:
        params:
          docker_container_id_override: cloudve/sam-fasta-dm:latest
      toolshed.g2.bx.psu.edu/repos/iuc/jbrowse/jbrowse/1.16.5+galaxy6:
        params:
          docker_container_id_override: cloudve/jbrowse:1.16.5
      toolshed.g2.bx.psu.edu/repos/iuc/rgrnastar/rna_star/.*:
        cores: {{ cores }}
        mem: {{ mem }}
      toolshed.g2.bx.psu.edu/repos/devteam/cufflinks/cufflinks/.*:
        cores: {{ cores }}
        mem: {{ mem }}
